*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("nature2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about{
    background: rgba(26, 25, 34, 0.76);
    overflow: hidden;
    padding: 10px 0;
    border-radius: 4%;
    position: absolute;
    top: 20%;
    left: 22%;
}
.inner-section{
    width: 55%;
    float: right;
    /*background-image: url("about.jpg");*/
    background-color:rgb(67, 100, 67);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4%;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 63%;
}
.text{
    color: #000;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 10px;
   
}
.skills .button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;

}
header{
    width: 100%;
    height: 100vh;
    }
.navbar{
    height: 12%;
    background: rgb(0, 0, 0);
    display: flex;
}
.nav-left{
    flex-basis: 30%;
    background: rgb(53, 53, 48);
    position: relative;
}
.nav-icons{
    left: 10%;
    top: 35%;
    position: absolute;
    color: rgb(255, 255, 255);
}
.nav-icons ul li{
    display: inline-block;
    margin-right: 35px;
}
.nav-right{
    flex-basis: 70%;
    position: relative;
}
.nav-menu{
    top: 25%;
    right: 10%;
    position: absolute;
}
.nav-right ul li{
    display: inline-block;
    margin-left: 35px;
}
.nav-right ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.socialmedia{
    left: 4%;
    margin-top: 35%;
    position: absolute;
    top: 15%;
}
.socialmedia ul li i{
    list-style: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(241, 237, 237);
    line-height: 20px;
}
.socialmedia ul li i:hover{
    color: rgb(51, 109, 65);
}